@use "../../core/settings" as *;
@use "../../core/tools" as *;

////
/// Scroll component
///
/// @group components/scroll
////

$nhsuk-scroll-offset: 6px;
$nhsuk-scroll-shadow-width: nhsuk-spacing(3);

@include nhsuk-exports("nhsuk/components/scroll") {
  .nhsuk-scroll {
    position: relative;
    margin: (-$nhsuk-scroll-offset) (-$nhsuk-scroll-offset) 0;
    @include nhsuk-responsive-margin(7, "bottom", $adjustment: - $nhsuk-gutter-half);
  }

  // Left and right shadows
  .nhsuk-scroll::before,
  .nhsuk-scroll::after {
    content: "";

    position: absolute;
    top: 0;

    width: $nhsuk-scroll-shadow-width;
    height: calc(100% + $nhsuk-gutter-half);

    pointer-events: none;
    opacity: 0.5;

    background-repeat: no-repeat;
    background-size: $nhsuk-scroll-shadow-width 100%;
  }

  // Left shadow
  .nhsuk-scroll::before {
    left: 0;
    background-image: radial-gradient(
      farthest-side at 0 50%,
      rgba($nhsuk-text-colour, 0.3),
      rgba($nhsuk-text-colour, 0)
    );
  }

  // Right shadow
  .nhsuk-scroll::after {
    right: 0;
    background-image: radial-gradient(
      farthest-side at 100% 50%,
      rgba($nhsuk-text-colour, 0.3),
      rgba($nhsuk-text-colour, 0)
    );
    background-position: 100% 0;
  }

  .nhsuk-scroll--reverse::before,
  .nhsuk-scroll--reverse::after {
    opacity: 0.75;
  }

  .nhsuk-scroll__content,
  // Deprecated, to be removed in v11.0
  .nhsuk-table-container {
    box-sizing: border-box;
    display: block;

    padding: $nhsuk-scroll-offset;
    padding-bottom: $nhsuk-scroll-offset + $nhsuk-gutter-half;

    overflow-x: auto;

    container-type: inline-size;
    container-name: scrollable-content;

    &:focus-visible {
      outline: $nhsuk-focus-width solid $nhsuk-focus-colour;
      outline-offset: $nhsuk-focus-width;
      box-shadow: 0 0 0 $nhsuk-focus-width $nhsuk-focus-text-colour;
    }
  }
}
